/* Geist Variable, Druk Wide fonte boa
System-ui
#875DF4
 */
@font-face {
    font-family: 'negrito';
    src: url(src/font/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf) format(opentype);
}

@font-face {
    font-family: 'normal';
    src: url(src/font/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Light.otf) format(opentype);
}

/* colocar todos arquivos da fonte */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #242038 url(src/img/v512-tang-32-abstractbackground_1.jpg) center top no-repeat fixed;
    height: 100vh;
    background-size: cover;
}

.tudo {
    background-color: #242038ea;
}

main {
    height: 100%;
    padding: 100px;
}

header {
    backdrop-filter: blur(5px);
    text-align: center;
    gap: 20px;
    height: max-content;
    text-align: center;
    position: sticky;
    top: 0;
}

header li{
    display: inline-block;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    padding: 30px 20px;
    font-family: 'normal';
    height: 100%;
    display: block;
    margin: 0 30px;
}

header a:hover{
    border-bottom: solid 2px #0ABF04;
    color: #0ABF04;
}

.MV {
    font-family: 'negrito';
    transition-duration: 0.7s;
}

.MV:hover{
    color: #0ABF04;
    border: none;
    transform: scale(2);
    transition-duration: 0.6s;
}

.home {
    min-height: 70vh;
}

section {
    margin: 0 0 8vh 0;
}

.texto h1 {
    color: white;
    font-family: 'negrito';
    font-size: 2.7em;
    margin: 40px 0;
    display: block;
    line-height: 10vh;
}

.texto h1 strong {
    color: #0ABF04;
    font-family: 'negrito';
    font-size: 2.3em;
    display: block;
}

.texto ul{
    list-style: none;
}

.texto li{
    display: inline-block;
    font-size: 60px;
    margin: 40px 50px 30px 0;
    transition-duration: 0.5s;
}

.texto a{
    color: white;
    transition-duration: 0.3s;
}

.texto a:hover{
    color: #0ABF04;
    transition-duration: 0.5s;
}

.texto li:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.projetos  {
    height: 50vh;
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.trabalhos {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 20px;
}

.projeto {
    flex-basis: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid black;
    padding: 10px;
}

.projeto .descricao {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.479);
    width: 100%;
    height: 100%;
    padding: 70px 10px;
    color: white;
}

.projeto:hover .descricao{
    display: block;
}

.sobre {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.sobremim h2 {
    text-align: center;
    color: #0ABF04;
    font-size: 3.7em;
    font-family: 'negrito';
    margin-bottom: 80px;
}

.sobremim p {
    font-family: 'normal';
    color: white;
    font-size: 1.8em;
    margin: 30px 0;
    line-height: 1.8em;
}

.sobremim p a {
    background-image: linear-gradient(to right, #9702D7, #D9008B,#EB1749,#F5B00A);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-family: 'negrito';
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 5px 0 0;
}

.sobremim p a:hover {
    border-bottom: 2px solid #D9008B;
}

.sobremim strong {
    color: #1bca15;
}

.redessociais ul{
    list-style: none;
}

.redessociais li {
    display: inline-block;
    font-size: 4em;
    margin: 5px 50px 0 0;
}

.redessociais a {
    color: #0ABF04;
    transition-duration: 0.3s;
}

.redessociais #github a:hover{
    color: black;
}

.redessociais #instagram a:hover{
    background-image: linear-gradient(135deg, #9702D7, #D9008B,#EB1749,#F5B00A);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition-duration: 1s;
}

.ferramentas h2{
    text-align: center;
    color: #0ABF04;
    font-size: 3.7em;
    font-family: 'negrito';
    margin-bottom: 100px;
    text-decoration: none;
}

.ferramentas ul {
    list-style: none;
    columns: 4;
    text-align: center;
}

.ferramentas li{
    padding: 30px;
    transition-duration: 0.3s;
    
    text-align: center;
}

.ferramentas a{
    color: #0ABF04;
    font-family: 'negrito';
    font-size: 2.7em;
    text-decoration: none;
    border: 1px solid #0ABF04;
    display: block;
    margin: 0 auto 100px;
    
}

.ferramentas li:hover {
    background-color: rgba(0, 0, 0, 0.178);
    transition-duration: 0.3s;
}

#html:hover{
    color: #DD4B25;
}

#js:hover{
    color: #E8D34D;
}

#php:hover{
    color: #4D598E;
}

#css:hover{
    color: #136DB0;
}

.ferramentas h3 {
    font-variant: small-caps;
}

svg {
    height: 20vh;
}

svg:hover{
    color: #0ABF04;
}

