/* Geist Variable, Druk Wide fonte boa
System-ui
#875DF4
 */
@font-face {
    font-family: 'negrito';
    src: url(src/font/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Bold.otf) format(opentype);
}

@font-face {
    font-family: 'normal';
    src: url(src/font/ClashDisplay_Complete/Fonts/OTF/ClashDisplay-Light.otf) format(opentype);
}

/* colocar todos arquivos da fonte */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #242038 url(src/img/v512-tang-32-abstractbackground_1.jpg) center top no-repeat fixed;
    height: 100vh;
    background-size: cover;
}

.tudo {
    background-color: #242038f7;
}

main {
    height: 100%;
    padding: 100px;
}

header {
    text-align: center;
    gap: 20px;
    height: 90px;
}

header li{
    display: inline-block;
}

header a{
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    padding: 20px 20px;
    font-family: 'normal';
    height: 100%;
    width: 100px;
    display: block;
    margin: 0 30px;
}

header a:hover{
    border-bottom: solid 2px #0ABF04;
    color: #0ABF04;
}

.MV {
    font-family: 'negrito';
    transition-duration: 0.5s;
}

.MV:hover{
    color: #0ABF04;
    border: none;
    transform: scale(1.7);
    transition-duration: 0.6s;
}

.home {
    min-height: 70vh;
}

section {
    margin: 0 0 8vh 0;
}

.texto h1 {
    color: white;
    font-family: 'negrito';
    font-size: 2.7em;
    margin: 40px 0;
    display: block;
}

.texto h1 strong {
    color: #0ABF04;
    font-family: 'negrito';
    font-size: 2.3em;
    display: block;
}

.texto ul{
    list-style: none;
}

.texto li{
    display: inline-block;
    font-size: 60px;
    margin: 40px 50px 30px 0;
    transition-duration: 0.5s;
}

.texto a{
    color: white;
    transition-duration: 0.3s;
}

.texto a:hover{
    color: #0ABF04;
    transition-duration: 0.5s;
}

.texto li:hover {
    transform: scale(1.5);
    transition-duration: 0.5s;
}

.sobremim h2 {
    text-align: center;
    color: #0ABF04;
    font-size: 3.7em;
    font-family: 'negrito';
}

.sobremim p {
    font-family: 'normal';
    color: white;
    font-size: 1.8em;
    width: 50%;
    margin: 30px 0;
    line-height: 1.8em;
}

.sobremim p a {
    color: #895DF5;
    font-family: 'negrito';
    text-decoration: none;
    font-size: 1.3em;
    padding: 5px 5px 1px 0;
}

.sobremim p a:hover {
    color: #EF16F2;
    border-bottom: 3px solid #EF16F2;
    transition-duration: 0.3s;
}

.sobremim strong {
    color: #1bca15;
}

.redessociais ul{
    list-style: none;
}

.redessociais li {
    display: inline-block;
    font-size: 4em;
    margin: 5px 50px 0 0;
    transition-duration: 0.5s;
}

.redessociais a {
    color: #0ABF04;
    transition-duration: 0.5s;
}

.redessociais li:hover {
    transition-duration: 0.8s;
}

.redessociais a:hover{
    color: #40ff50;
}

.ferramentas h2{
    text-align: center;
    color: #0ABF04;
    font-size: 3.7em;
    font-family: 'negrito';
    margin-bottom: 100px;
    text-decoration: none;
}

.ferramentas ul {
    list-style: none;
    columns: 4;
    text-align: center;
}

.ferramentas li{
    padding: 30px;
    height: 100%;
}

.ferramentas a{
    color: #0ABF04;
    font-family: 'negrito';
    font-size: 2.7em;
    text-decoration: none;
    border: 1px solid #0ABF04;
    display: block;
    
    margin: 0 auto 100px;
    
}

.ferramentas li:hover {
    background-color: rgba(0, 0, 0, 0.178);
}

.ferramentas h3 {
    font-variant: small-caps;
}

svg {
    height: 200px;
}

svg:hover{
    color: #0ABF04;
}

